body {

background-color: #bd3131;
text-align: center;
font-family: verdana;
}

#container {

  width: 70%;
  padding: 1rem;
  text-align: left;
  border: solid 1px #ddd;
  margin: 0 auto;
}

#container #cabecera { background-color: white; margin-top: -2rem; }
#container #cabecera h1 {color: red; padding: 2rem; text-transform: uppercase; font-size: 2rem}
#container #cabecera p {font-family:tahoma; font-size:45px; text-transform: uppercase;}

#container h1 {color:#fff; font-size: 20px;}
